@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

* {
    font-family: 'Patrick Hand', cursive;

}


.form-control , .date{
    margin-top: 4%;
    width: 70%;
}

.btn-primary {
    margin-top: 4%;
    background-color: green;
}

.alert {
    width: 70%;
}
