<div class="container">
    <h2>Aust1inn Quotes</h2>
<div class="row">
    <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    
    </div>
    
    <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
            <div>
              <h6 id={{i}} >Name:{{quote.name}}</h6>
              <h6>Author:{{quote.author}}</h6>
              <p>Quote:{{quote.quoteWords}}</p>
              <div class="votes">
                  <button  (click)="upVote(i,quote)">Like</button>
                  <p>{{quote.upvote}}</p>
                  <button (click)="downVote(i,quote)">Dislike</button>
                  <p>{{quote.downvote}}</p>
              </div>
              <button class="btn btn-primary" (click)="deleteQuote(i) ">Delete Quote</button>
            </div>
    </div>
</div>


</div>

