
* {
    font-family: 'Patrick Hand', cursive;

}
.votes {
    justify-content: space-around;
    display: flex;
    width: 50%;
    margin-bottom: 2%
}
.btn {
    margin-top: 2%;
}

.btn-vote {
    background-color: green;
    color: honeydew;
}